@media only screen and (max-width: 1024px){
    #a{font-size: 13px;font-weight: 500;color: #9ba0a0;}
    #clinicname{font-size: 14px;font-weight: 500;color:#626767;}
    .timings{font-size: 13px;color: #626767;margin-top: 11px;}
    .fee{font-size: 13px;font-weight: 500;color: #626767;padding-top: 11px;}
}
@media only screen and (max-width: 900px){
    #header{padding: 0px 50px;position: relative;}
    .menu,.menu.responsive{display: block;}
    .headerList{position: absolute;width: 100%;left: 0;right: 0;top: 80px;display: block;text-align: right;padding-top: 0;}
    .headerNavList li{display: none;    }
    .headerNavList.responsive{width: 100%;display: block;float:none;}
    .headerNavList.responsive li {display: block;}
    .headerNavList.responsive li a{display: block;font-size: 12px;padding-right: 50px;color: #ffffff;text-decoration: none;background: #00b5a6;text-align: right;border-radius: initial;}
    .headerNavList li a:active,.headerNavList li a.active{background-color: #008b8b;box-shadow: initial}
    h1{margin-top: 44px;}
    .guestsection{padding-bottom: 37px;}
    #footer{padding: 0px 50px;}
    /*-------doctor details----------*/
    .docdetailsection{padding: 0px 50px;}
    #dentistsearch{width: 69%;}
    .iconclass{width: 20%;float: right;padding-top: 25px;}
    .sorticon,.filtericon{display:inline-block;}
    #searchbutton{width: 19.35%;}
    .sortwrapperDiv{display: none;}
    .sortwrapperDiv.expand{display: block;float: none;width: 93%;text-align: center;clear: both;}
    #sortbytext{width:15%;}
    #sortby{float: none;}
    .filterwrapper{display: none;}
    .filterwrapper.expand{display: block;width: 60%;padding-left: 20%;float: none;}
    .docdetailswrapper{width: 100%;float: none;}
    .doclist{width: 100%;}
    .detailwrapper{width: 99%}
}

@media only screen and (max-width: 767px){
    #header{padding: 0px 15px;}
    .menu,.menu.responsive{display: block;}
    .headerList{text-align: right;}
    .headerNavList li{display: none;}
    .headerNavList.responsive li {display: block;}
    .headerNavList.responsive li a{font-size: 12px;color: #ffffff;text-decoration: none;padding: 10px 7px;background: #00b5a6;text-align: right;border-radius: initial;}
    .headerNavList li a:active,.headerNavList li a.active{background-color: #008b8b;box-shadow: initial}
    h1{/*margin-top: 53px;*/font-size: 24px;}
    h3{font-size: 15px;}
    #uname,#pwd,#loginsubmit{margin-top: 52px;width: 290px;}
    .guestsection{padding-bottom: 47px;}
    h2{margin-top: 53px;font-size: 22px;}
    h4{margin-top: 10px;font-size: 15px;}
    #guestsubmit{width: 290px;}
    #footer{padding: 0px 15px;}
    .footertext{font-size: 14px;}
    .text2{display: none;}
     /*-------doctor details----------*/
    .docdetailsection{padding: 0px 15px;text-align: center;}
    #introtext{float: none;width:auto;}
    #resultcount{float: none;margin-top: 12px;}
    #searchwrapper {display: none;}
    #searchwrapper.expand{display: block;width: 74%;padding: 0 11%;}
    #dentistsearch{width:54%;}
    #searchbutton{float: left;width: 24%}
    .iconclass{width: auto;float: none;padding-top:0px}
    .searchicon,.sorticon,.filtericon{display:inline-block;width: 25%;padding-top: 25px;}
    .filterwrapper{display: none;}
    .filterwrapper.expand{display: block;width: 60%;padding-left: 20%;float: none;}
    .filtersection{text-align:initial;}
    .docdetailswrapper{width: 100%;float: none;}
    .detailwrapper{width: 99%;height: auto;}
    .docimg{float: none;}
    .docdetials{margin-left: 0;float: none;}
    .appointmentbutton{float: none;}
    .sec2wrapper{padding: 15px 0;width: 100%;}
    .sec2{float: none;width: auto;padding: 25px 0;}
    .sec2dividehorz{display:block;}
    .sec3{float: none;width: auto; margin: 25px 0;}
    .sec2divide{margin: 0 10px;height: 1px;background-color: #d8d8d8;}
}