*{margin:0;padding: 0}

@font-face {font-family: Roboto-Medium;src:url('../fonts/Roboto-Medium.ttf');font-family: Roboto-Regular;src:url('../fonts/Roboto-Regular.ttf');font-family: Roboto-Light;src:url('../fonts/Roboto-Light.ttf');font-family: Roboto-Thin;src:url('../fonts/Roboto-Thin.ttf')}

body{margin:0;padding: 0;font-family:'Roboto-Regular', sans-serif;}
#header{ background: #00b5a6;padding: 0px 100px;height: 80px;position: relative;}
.headerLogo{float: left;}
.logo{margin-top: 29px;height: 23px;width: 145px;}
.menu, .menu.responsive{font-family: 'Roboto-Regular';display: none;float: right;padding-top: 32px;}
.menu a{text-decoration: none;color: #ffffff;}
.headerList{float: right;padding-top: 32px;}
.headerNavList,.headerNavList.responsive{font-family: 'Roboto-Regular';display: inline;float:right;list-style-type: none;margin-top: 0px;}
.headerNavList li, .headerNavList.responsive li {display: inline;align-content: center;}
.headerNavList li a, .headerNavList.responsive li a{font-size: 11px;color: #ffffff;text-decoration: none;padding: 10px 6px; }
.headerNavList li a:active,.headerNavList li a.active{display: inline;background-color: #008b8b;padding: 10px 6px; border-radius: 15px;box-shadow: inset 0px 1px 1px 0px #000000, 0px 1px 1px 0px #ffffff;}
.section{/*padding: 0px 100px;*/text-align: center;}
h1{font-family: 'Roboto-Light';font-size: 30px;font-weight: 300;color: #626767;text-align: center;margin-top: 47px;margin-bottom: 0px}
h3{font-family: 'Roboto-Thin';font-size: 20px;font-weight: 300;color: #626767;text-align: center;margin-top: 8px;margin-bottom: 0px;/*margin-bottom: 703px;*/}
.loginsection{text-align: center;padding-bottom: 36px;border-bottom: #b5baba;border-bottom-width: 1px;border-bottom-style: solid;}
#uname,#pwd,#loginsubmit{margin-top: 45px;text-align: center;width: 340px;height: 40px;border-radius: 20px;border-style: none;color: #626767;background-color: #f6f6f6;font-family: 'Roboto';font-size: 12px;/*    margin-left: 330px;*/}
#pwd{margin-top: 20px;}
#loginerror{color: red;height: 20px;font-family: 'Roboto';font-size: 12px;padding-top: 5px;}
#loginsubmit{margin-top: 20px;color: #ffffff;background-color: #f7c04d;font-size: 13px;cursor: pointer;}
.forgotpwddiv{padding-top: 15px;}
.forgotpwd{margin-top: 15px;text-decoration: none;font-family: 'Roboto-Light';font-size: 15px;font-weight: 300;color: #626767;}
.registersection{padding-top: 15px;padding-bottom: 41px;font-family: 'Roboto-Light';font-size: 15px;font-weight: 300;color: #626767;}
.guestsection{text-align: center;padding-bottom: 37px;}
h2{margin-top: 3px;font-family: 'Roboto-Light';font-size: 28px;font-weight: 300;color: #626767;margin-bottom: 0px;}
h4{font-family: 'Roboto-Light';font-size: 18px;font-weight: 300;color: #626767;margin-bottom: 0px;margin-top: 8px;}
.register{text-decoration: none;color: #0098ff;font-family: 'Roboto-Medium';}
.guestsection{background-color: #f6f6f6;padding-top: 30px;}
#guestsubmit{margin-top: 25px;text-align: center;width: 340px;height: 40px;border-radius: 20px;border-style: none;color: #ffffff;background-color: #484848;font-family: 'Roboto';font-size: 13px;cursor: pointer;/*    margin-left: 330px;*/}
#footer{padding: 0px 100px;height: 60px;background-image: linear-gradient(#2e3341 0%, #202431 100%);}
.footertextblock{padding: 22px 0;}
.footertext{font-family: 'Roboto-Regular';font-size: 12px;color: #9ba0a0;text-align: center;}
.text1,.text2{display: inline;}
.terms,.designed,.pricaypolicy{color: #0098ff;text-decoration: none;}

/*{-------doctodetails--------}*/
.docdetailsection{padding: 0px 100px;}
#introtextsection{height: 60px;border-bottom: solid;border-bottom-width: 1px;}
#introtext{font-family: 'Roboto-Medium';font-size: 20px;font-weight: 500;color: #626767;float: left;margin-top: 18px;width:250px;}
#resultcount{font-family: 'Roboto-Regular';font-weight: 300; font-size: 14px;color: #626767;float: right;margin-top: 22px;}

#searchsection{width: 100%;overflow: auto;}
#searchwrapper,#searchwrapper.expand{float: left;width: 73.5%}
#dentistsearch{display: inline-block;float:left; width: 75.1%;margin-top: 20px;background-color: #f6f6f6;border-radius: 20px 0px 0px 20px;border: none;font-size: 12px;color: #626767;padding: 14px 21px}
#searchbutton{display: inline-block; margin-top: 20px;border: 0; width: 16.45%;border-radius: 0px 20px 20px 0px;background-color:#626767;font-size: 12px;color: #ffffff;padding: 14px 0;cursor: pointer;}
.sortwrapperDiv,.sortwrapperDiv.expand{float: right;width:23%;}
#sortby{display: inline-block;float: right; width:70%;padding: 12px 0 12px 21px;font-size: 14px;color:#626767;background-color: #f0f1f2;border-radius: 20px;margin-top: 20px;border:none;cursor: pointer;}
#sortbytext{display: inline-block; font-family: 'Roboto';font-weight: 300; font-size: 14px;color: #626767;margin-top: 33px;}
.searchicon{display: none;float: left;}
#searchiconbutton{background: url(../images/search.png);width: 40px;height: 40px;background-repeat: no-repeat;background-position: center;background-color: transparent;border-radius: 0 14px 14px 0;border-style: none;}
.sorticon{display: none;position: inline-block;}
#sortbutton{background: url(../images/sort.png);width: 40px;height: 40px;background-repeat: no-repeat;background-position: center;background-color: transparent;border-radius: 0 14px 14px 0;border-style: none;}
.filtericon{display: none;float: right;}
#filterbutton{background: url(../images/filter.png);width: 40px;height: 40px;background-repeat: no-repeat;background-position: center;background-color: transparent;border-radius: 0 14px 14px 0;border-style: none;}

.detailssection{overflow-y:auto;overflow-x: hidden; ;margin: 30px 0;}
/*.overlay {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}*/
.filterwrapper, .filterwrapper.expand{width: 25%;float: left;}
.filterli{list-style-type: none;}
.servicefilter{height: 282px;background-color: #f0f1f2;margin:10px 0;}
.servicesearch{padding-top: 10px;padding-bottom: 5px;}
.filterdivide{margin: 0 10px;height: 1px;background-color: #d8d8d8;}
.filterheading{font-size: 14px;font-family: 'Roboto-Medium'; color: #626767;padding: 20px 0 0 20px;}
#servicesearchbar{width: 74.5%;margin-left: 10px;height: 28px;border-radius: 14px 0 0 14px;border-style: none;float: left;padding-left:10px;}
#servsearchbutton{background: url(../images/lens.png);width: 11%;height: 28px;background-repeat: no-repeat;background-position: center;background-color: white;border-radius: 0 14px 14px 0;border-style: none;cursor: pointer; }
.serviceslistwrapper{padding: 5px 20px 20px 20px;height: 57%;overflow-y: scroll;}
.servicelist{list-style-type: none;}
.serviceli{padding: 8.5px 0;}
.servicechkbox{cursor: pointer;}
label{font-size: 14px;font-family: 'Roboto-Regular'; color: #626767;padding-left: 10px;}

.availablityfilter{background-color: #f0f1f2;margin-top:20px;height: 360px;}
.slider{padding: 10px 20px;height: 31px;}
#slider-range{;border-radius:20px;height:10px;}
.ui-slider .ui-slider-range{background:#0098ff;}
#slider-range .ui-slider-handle{background: url(../images/end.png);width: 24px;height: 22px; background-repeat: no-repeat;background-position: center;background-color: transparent;border: none;cursor: pointer;}
/*new code*/
.slidertrack{height: 10px;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: #d2d2d2;}
.sliderrange{height: 10px;background-color: #00c9b9; margin-left: 6px;}
.sliderknb1,.sliderknb2{position: absolute;width: 28px;height: 28px; background-repeat: no-repeat;background-position: center;background-color: transparent;border: none;cursor: pointer;margin-top: -9px;}
#leftval,#rightval{position: absolute;top: 20px;width: 40px;height: 20px;color: #00bdee;font-size: 13px;font-family: 'Roboto-Regular';text-align: center;}
.dayslist{padding: 5px 20px 20px 20px;list-style-type: none;}

.feefilter{background-color: #f0f1f2;margin-top:20px;height: 310px;}
.feeslist{padding: 5px 20px 20px 20px;list-style-type: none;}

.docdetailswrapper{width: 75%;float: right;}
.doclist{width: 100%;}
#detailsli{list-style-type: none;}
.detailwrapper{float: right;width: 96%;height: 282px; border: solid;border-width: thin;border-color: #b5baba;margin:10px 0;}
.sec1{padding: 20px;overflow: auto;}
.docimg{float: left;}
.docdetials{margin-left: 20px; float: left;}
#docname{font-size: 18px;font-weight: 500;}
#a{font-size: 14px;font-weight: 500;color: #9ba0a0;}
.appointmentbutton{float: right; margin-top: 24px;}
#book{background-color: #f9ba3c;border-radius: 17px;border: none;padding: 12px;color: #ffffff;cursor: pointer;}   
.sec1divide,.sec2dividehorz{margin: 0 10px;height: 1px;background-color: #d8d8d8;}
.sec2dividehorz{display:none;}
.sec2wrapper{padding: 15px 20px;width: 94.8%}
.sec2{width: 47%;float: left;}
#clinicname{font-size: 15px;font-weight: 500;color:#626767;}
.timings{font-size: 13px;color: #626767;margin-top: 11px;}
.fee{font-size: 14px;font-weight: 500;color: #626767;padding-top: 11px;}
.sec2divide{margin: 10px 0px;width: 1px;background-color: #d8d8d8;}
.sec3{float: right;width: 47%}
