<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <article>
            <header id="header">
                <div class="headerLogo">
                    <a href="#"><img class="logo" src="../assets/images/logo.png"></a>
                </div>
                <div class="menu" id="mainmenu">
                    <a (click)="headerMenu()"><img src="../assets/images/menu.png"></a>
                </div>
                <div class="headerList">
                    <ul [className]="headerClass" id="headerNavs">
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a class="active" href="#">DOCTORS</a></li>
                        <li><a href="#">MEDICAL HISTORY</a></li>
                        <li><a href="#">APPOINTMENTS</a></li>
                        <li><a href="#">COMMUNICATION</a></li>
                        <li><a href="#">PROFILE</a></li>
                    </ul>
                </div>
            </header>
            <div class="docdetailsection">
                <div id="introtextsection">
                    <h4 id="introtext">Physicians nearby</h4>
                    <h5 id="resultcount">{{resultCountText}}</h5>
                </div>
                
                <div id="searchsection">
                    <div class="iconclass">
                        <div class="searchicon">
                            <input type="button" id="searchiconbutton" name="searchbtn" (click)="expandSearch()">
                        </div>
                        <div class="sorticon">
                            <input type="button" id="sortbutton" name="sortbtn" (click)="expandSort()">
                        </div>
                        <div class="filtericon">
                            <input type="button" id="filterbutton" name="filterbtn" (click)="expandFilters()">
                        </div>
                    </div>
                    <div id="searchwrapper" [className]="searchClass">
                        <form action="#" (ngSubmit)="searchDoctor()" #docSearchForm="ngForm">
                            <div class="form-group">
                                <input type="text" id="dentistsearch" class="form-control" [(ngModel)]="searchText" name="searchbar" placeholder="Find Dentists/Clinics">
                            </div>
                            <input type="submit" id="searchbutton" name="search" value="SEARCH">
                        </form>
                    </div>

                    <div id="sortwrapper" [className]="sortClass">
                        <h5 id="sortbytext">Sort By:</h5>
                        <select id="sortby">
                            <option value="popularity">Popularity</option>
                            <option value="fee">Fees</option>
                        </select>
                    </div>                    
                </div>
                
                <div class="detailssection">
                    <div [className]="filterClass" id="filterwrapperdiv">
                        <ul class="filtersection">
                            <li class="filterli">
                                <div class="servicefilter">
                                    <div class="filterheading">Services</div>
                                    <div class="servicesearch">
                                        <input id="servicesearchbar" type="text" name="servsearchbar">
                                        <input type="button" id="servsearchbutton" name="servsearch">
                                    </div>
                                    <div class="filterdivide"></div>
                                    <div class="serviceslistwrapper">
                                        <ul class="servicelist">
                                            <li class="serviceli"><input type="checkbox" class="servicechkbox" name="service" value="Service One"><label>Service One</label></li>
                                            <li class="serviceli"><input type="checkbox" class="servicechkbox" name="service" value="Service One"><label>Service One</label></li>
                                            <li class="serviceli"><input type="checkbox" class="servicechkbox" name="service" value="Service One"><label>Service One</label></li>
                                            <li class="serviceli"><input type="checkbox" class="servicechkbox" name="service" value="Service One"><label>Service One</label></li>
                                            <li class="serviceli"><input type="checkbox" class="servicechkbox" name="service" value="Service One"><label>Service One</label></li>
                                            <li class="serviceli"><input type="checkbox" class="servicechkbox" name="service" value="Service One"><label>Service One</label></li>
                                            <li class="serviceli"><input type="checkbox" class="servicechkbox" name="service" value="Service One"><label>Service One</label></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="filterli">
                                <div class="availablityfilter">
                                    <div class="filterheading">Availability</div>
                                    <div class="slider">
                                        <div class="slidertrack" id="slidertrackdiv">
                                            <div class="sliderknobdiv" id="knob1"><img src="../assets/images/end.png" class="sliderknb1" id="knobimg1"><span id="leftval"></span><span><div class="sliderrange" id="slideRangeDiv"></div></span></div>
                                            <div class="sliderknobdiv2" id="knob2"><img src="../assets/images/end.png" class="sliderknb2" id="knobimg2"><span id="rightval"></span></div>
                                        </div>
                                    </div>
                                    <div class="filterdivide"></div>
                                    <div class="dayslistwrapper">
                                        <ul class="dayslist">
                                            <li class="serviceli"><input type="checkbox" class="servicechkbox" name="service" value="Monday"><label>Monday</label></li>
                                            <li class="serviceli"><input type="checkbox" class="servicechkbox" name="service" value="Tuesday" checked="checked"><label>Tuesday</label></li>
                                            <li class="serviceli"><input type="checkbox" class="servicechkbox" name="service" value="Wednesday"><label>Wednesday</label></li>
                                            <li class="serviceli"><input type="checkbox" class="servicechkbox" name="service" value="Thursday"><label>Thursday</label></li>
                                            <li class="serviceli"><input type="checkbox" class="servicechkbox" name="service" value="Friday"><label>Friday</label></li>
                                            <li class="serviceli"><input type="checkbox" class="servicechkbox" name="service" value="Saturday"><label>Saturday</label></li>
                                            <li class="serviceli"><input type="checkbox" class="servicechkbox" name="service" value="Sunday"><label>Sunday</label></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="filterli">
                                <div class="feefilter">
                                    <div class="filterheading">Fees</div>
                                    <div class="filterdivide"></div>
                                    <div class="feeslistwrapper">
                                        <ul class="feeslist">
                                            <li class="serviceli"><input type="checkbox" class="servicechkbox" name="service" value="Free-100"><label>Free - 100</label></li>
                                            <li class="serviceli"><input type="checkbox" class="servicechkbox" name="service" value="100-250"><label>100 - 250</label></li>
                                            <li class="serviceli"><input type="checkbox" class="servicechkbox" name="service" value="250-500"><label>250 - 500</label></li>
                                            <li class="serviceli"><input type="checkbox" class="servicechkbox" name="service" value="500-1000"><label>500 - 1000</label></li>
                                            <li class="serviceli"><input type="checkbox" class="servicechkbox" name="service" value="1000-1500"><label>1000 - 1500</label></li>
                                            <li class="serviceli"><input type="checkbox" class="servicechkbox" name="service" value="1500-2000"><label>1500 - 2000</label></li>
                                            <li class="serviceli"><input type="checkbox" class="servicechkbox" name="service" value="2000-2500"><label>2000 - 2500</label></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                    
                    <!-- doctor details -->
                    <div class="docdetailswrapper">
                        <ul class="doclist" id="docdetailsUL">
                            <li id="detailsli" *ngFor="let doctor of doctors">
                                <div class="detailwrapper">
                                    <div class="sec1">
                                        <div class="docimg">
                                            <img src="../assets/images/{{doctor.profileimg}}.png">
                                        </div>
                                        <div class="docdetials">
                                            <h4 id="docname">{{doctor.name}}</h4>
                                            <p id="a">{{doctor.role}}<br>{{doctor.qualification}}<br>{{doctor.experience}}</p>  
                                        </div>
                                        <div class="appointmentbutton"><input type="button" id="book" name="bookappointment" value="MAKE APPOINTMENT"></div>
                                    </div>
                                    <div class="sec1divide"></div>
                                    <div class="sec2wrapper">
                                        <div class="sec2">
                                            <h5 id="clinicname">{{doctor.clinics[0].name}}</h5>
                                            <p id="a">{{doctor.clinics[0].address}}</p>
                                            <div class="timings">Monday - Friday:   {{doctor.clinics[0].weekdaytiming}}<br>Saturday - Sunday:  {{doctor.clinics[0].weekendtiming}}</div>
                                            <div class="fee">{{doctor.clinics[0].fee}} INR/hours</div>
                                        </div>
                                        <div class="sec2dividehorz"></div>
                                        <div class="sec3">
                                            <h5 id="clinicname">{{doctor.clinics[1].name}}</h5>
                                            <p id="a">{{doctor.clinics[1].address}}</p>
                                            <div class="timings">Monday - Friday:   {{doctor.clinics[1].weekdaytiming}}<br>Saturday - Sunday:  {{doctor.clinics[1].weekendtiming}}</div>
                                            <div class="fee">{{doctor.clinics[1].fee}} INR/hours</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>   
                </div>            
            </div>
            <footer id="footer">
                <div class="footertextblock">
                    <div class="footertext">
                        <div class="text1">DENTAL.io © 2015 All Rights Reserved</div>
                        <div class="text2"> <a class="terms" href="">TERMS OF USE</a> and <a class="pricaypolicy" href="">PRIVACY POLICY</a> | Designed by <a class="designed" href="">PIXELSPOTSTUDIO.COM</a></div>
                    </div>
                </div>
            </footer>
        </article>
    </body>
</html>
